* {
    color: var(--text);
}

.container .head {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: initial;
}

.container #link {
    padding-top: 10px;
}

.container h1 {
    margin: 0 0 43px 20px;
}

.selects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    text-align: center;
    color: #222;
}

.selects #cursos {
    width: 70%;
    height: 33px;
    margin-bottom: 10px;
    padding-left: 5px;
    background-color: var(--background);
    border: 2px solid #fff;
    border-radius: 10px;
}

.selects #turmas {
    width: 70%;
    height: 33px;
    margin-bottom: 10px;
    padding-left: 5px;
    background-color: var(--background);
    border: 2px solid #fff;
    border-radius: 10px;
}


.cadhorario {
    margin-top: 30px;
    width: 40vw; 
    display: flex;
    justify-content: center;
}

.turnos {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
}

input {
    width: 150px;
    height: 33px;
    margin-bottom: 10px;
    padding-left: 5px;
    background-color: var(--background);
    border: 2px solid #fff;
    border-radius: 10px;
}

button{
    width: 50px;
    padding: 5px 2px 5px 2px;
    color: #222;
}